---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/292195/historical/24?apikey=<API_KEY>&details=false&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '37'
      Akamai-Grn:
      - 0.2d0cde17.1724423759.ff3eba9
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-23T16:58:00+03:00","EpochTime":1724421480,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":29.4,"Unit":"C","UnitType":17},"Imperial":{"Value":85.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/belgorod/292195/current-weather/292195?lang=en-us","Link":"http://www.accuweather.com/en/ru/belgorod/292195/current-weather/292195?lang=en-us"},{"LocalObservationDateTime":"2024-08-23T16:02:00+03:00","EpochTime":1724418120,"WeatherText":"Cloudy","WeatherIcon":7,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":29.4,"Unit":"C","UnitType":17},"Imperial":{"Value":85.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/belgorod/292195/current-weather/292195?lang=en-us","Link":"http://[...]
